* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 30%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container input {
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: large;
}

.container div {
  font-size: large;
  margin: 0.2rem 0;
  user-select: none;
}
